/************** COMPONENTS **************/

/* banner(home) */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.pexels.com/photos/1418519/pexels-photo-1418519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: 92vh;
  padding: 0;
}

/* button call to action */
.call-to-action-btn {
    color: white;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    text-decoration: none;
}

.call-to-action-btn:hover {
    opacity: 0.8;
    color: white;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    text-decoration: none;
}

/* footer */
.footer {
  background: white;
  border-top: solid 1px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #ff5a5f;
}

/* navbar */
.navbar {
    justify-content: space-between;
    background: white !important;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    z-index: 9999;
}

.navbar .navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-family: 'Handlee', cursive;
    color: #ff5a5f !important;
    font-size: 2em !important;
}

#pool-create-link {
    color: #ff5a5f;
    font-family: "Fira Sans Extra Condensed", "Open Sans", "Helvetica", "sans-serif"
}

#register-link {
    color: #2B2A2A;
    font-family: "Fira Sans Extra Condensed", "Open Sans", "Helvetica", "sans-serif"
}

#login-link {
    color: #2B2A2A;
    font-family: "Fira Sans Extra Condensed", "Open Sans", "Helvetica", "sans-serif"
}

#logout-link {
    color: #2B2A2A;
    font-family: "Fira Sans Extra Condensed", "Open Sans", "Helvetica", "sans-serif"
}

.navbar-brand:hover {
    opacity: 0.8;
}

#pool-create-link:hover {
    opacity: 0.8;
}

#register-link:hover {
    opacity: 0.8;
}

#login-link:hover {
    opacity: 0.8;
}

#logout-link:hover {
    opacity: 0.8;
}

/* forms */
.jumbotron {
    background: white;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.booking-form {
    position: sticky;
    top: 20vh;
}

/* card pool (list and detail) */
.card-product {
  overflow: hidden;
  background: white;
  border-radius: 2px;
}

.card-product:hover {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.card-product > img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.card-product-infos .card-product-pricing {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card-product-pricing h2 {
  font-size: 24px;
  color: #ff5a5f;
}

.card-product-infos span {
  font-size: 12px;
}

.card-product-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.booking-swimming-pool-info {
  padding: 16px;
}

/* card pool (dashboard) */
.card-pool-booking-dashboard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-pool-booking-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-pool-booking-dashboard h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pool-booking-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-pool-booking-dashboard .card-product-infos {
  padding: 16px;
}


/************** PAGES **************/

/* home */
.home-container {
  background-color: white;
}

.cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  padding: 24px;
}

.home-container .card-link {
  text-decoration: none;
  color: #2B2A2A;
}

/* pool_list */
.searchpage-container {
  display: flex;
  background-color: white;
}

.searchpage-container .cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 60%;
  padding: 24px;
}

.searchpage-container .card-link {
  text-decoration: none;
  color: #2B2A2A;
}

/* pool_detail */
.page-booking  {
  background-color: white;
}

.page-booking img {
  height: 45vh;
  width: 100%;
  object-fit: cover;
}

.card-product-booking-price {
  font-size: 40px;
  color: #ff5a5f;
  font-weight: bold;
}

.card-product-booking-title h2 {
  font-size: 40px;
  font-weight: bold;
}

.card-product-booking {
  margin-bottom: 32px;
}

.card-product-booking .card-product-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-product-booking-infos .card-product-booking-pricing {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card-product-booking-infos span {
  font-size: 14px;
}

.card-product-booking-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.booking-swimming-pool-info {
  padding: 16px;
}

.booking-swimming-pool-info h3 {
  color: #949494;
}

.form-booking {
  padding: 40px 24px;
  border-left: solid 1px #d4cfd1;
  position: sticky;
  top: 25vh;
}

.form-booking-title {
  padding: 0 0 16px 0;
  display: flex;
  justify-content: center;
}