{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} ComeSwim - Ajout de piscine {% endblock title %}

{% block content %}
<div class="container p-5">
    <h1 class="text-center">Ajoutez votre piscine</h1>
    <div class="row">
        <div class="col-12">
            <form action="{% url 'pool-creation' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form pool_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
  