{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} ComeSwim - Accueil {% endblock title %}

{% block content %}

<div class="banner">

</div>

<div class="container p-5 home-container">
  <div class="text-center">
    <a href="{% url 'pool-list' %}" class="btn btn-primary call-to-action-btn">Découvrez nos Piscines</a>
  </div>
  <div class="cards-product">
    {% for pool in sliced_pools %}
      <a href="{% url 'pool-detail' pool.pk %}" class="card-link">
        <div class="card-product">
          <img src={{ pool.image.url }} alt="photo de piscine">
          <div class="card-product-infos">
            <div class="card-product-pricing">
              <h2 class="card-product-price">{{ pool.price }}€</h2>
              <span>par personne</span>
              <span>(la journée)</span>
            </div>
            <div class="card-product-title">
              <h2>{{ pool.title|capfirst }}</h2>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}