{% extends 'base.html' %}
{% load static %}

{% block title %} ComeSwim - Accueil {% endblock title %}

{% block content %}
<div class="banner">

</div>

<a href="{% url 'pool-list' %}" class="button btn-primary">Voir nos Piscines</a>

<div class="searchpage-container">
  <div class="cards-product">
    {% for pool in sliced_pools %}
      <a href="{% url 'pool-detail' pool.pk %}">
        <div class="card-product">
          <img src={{ pool.image.url }} alt="photo de piscine">
          <div class="card-product-infos">
            <div class="card-product-pricing">
              <h2 class="card-product-price">{{ pool.price }}€</h2>
              <span>par personne</span>
              <span>(la journée)</span>
            </div>
            <div class="card-product-title">
              <h2>{{ pool.title|capfirst }}</h2>
              <span>proposée par {{ pool.user.first_name|capfirst }} {{ pool.user.last_name|capfirst }}</span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
