{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} ComeSwim - {{ pool.title }} {% endblock title %}

{% block content %}

<div class="page-booking">
    <img src={{ pool.image.url }} alt="photo de piscine">
  <div class="container d-flex mt-5">
    <div class="row">
      <div class="col-8">
        <div class="card-product-booking">
          <div class="card-product-booking-infos">
            <div class="card-product-booking-pricing">
              <h2 class="card-product-booking-price">{{ pool.price }}€</h2>
              <span>par personne</span>
              <span>(la journée)</span>
            </div>
            <div class="card-product-booking-title">
              <h2> {{ pool.title }} </h2>
              <span>proposée par {{ pool.user.first_name|capfirst }} {{ pool.user.last_name|capfirst }}</span>
            </div>
          </div>
        </div>
        <div class="booking-swimming-pool-info">
          <h3>Description</h3>
          <p>{{ pool.description }}</p>
        </div>
        <div class="booking-swimming-pool-info">
          <h3>Taille de la piscine</h3>
          <p>Longueur: {{ pool.length }} m / Largeur: {{ pool.width }} m</p>
        </div>
        <div class="booking-swimming-pool-info">
          <h3>Piscine chauffée</h3>
          {% if pool.heated == True %}
            oui
          {% else %}
            non
          {% endif %}
        </div>
        <div class="booking-swimming-pool-info">
          <h3>Capacité d'accueil</h3>
          <p>{{ pool.capacity }} personnes</p>
        </div>
      </div>
      <div class="col-4 p-3">
        <div class="booking-form">
          <h1>Louer cette piscine</h1>
          <form action="{% url 'pool-detail' pool.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form booking_form %}
            {% buttons %}
               <button type="submit" class="btn btn-primary call-to-action-btn">Valider</button>
            {% endbuttons %}
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

