{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} ComeSwim - Nos piscines {% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-5">
        {% if registered %}
            <h1 class="text-center">Bienvenue {{ user.username }}!</h1>
        {% else %}
            <h1>Inscrivez-vous :</h1>

            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" name="" value="Valider">
            </form>
            <p>Vous avez déjà un compte ComeSwim ?
                <a href="{% url 'login' %}">Connexion</a>
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}